/nginx/html/blog/*
!/nginx/html/blog/.keep
/nginx/html/portal/*
!/nginx/html/portal/.keep
/nginx/html/api-portal/*
!/nginx/html/api-portal/.keep
/nginx/log/*
!/nginx/log/.keep
/letsencrypt/cert/*
!/letsencrypt/cert/.keep
/letsencrypt/log/*
!/letsencrypt/log/.keep
